<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Roll Call System" />
    <meta name="author" content="Your Name" />
    <title>Roll Call System</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <style>
         .table-responsive {
            height: 250px;
            /* Adjust the height as needed */
            overflow-y: scroll;
        }
    </style>
</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <%- include('headerAll.ejs') %>
        <!-- Page content-->
        <section class="py-5">
            <div class="container px-5">
                <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                    <div class="text-center mb-5">
                        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3">
                            <i class="bi bi-envelope"></i>
                        </div>
                        <h1 class="fw-bolder">ตรวจสอบการเข้าชั้นเรียน</h1>
                        
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <form id="searchForm">
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="student-search" placeholder="ค้นหารหัสนักศึกษา ไม่ใส่ ขีด -" type="search" />
                                    <label for="student-search">รหัสนักศึกษา ไม่ใส่ - ขีด </label>
                                    <div class="invalid-feedback">กรุณาใส่รหัสนักศึกษา</div>
                                    <div class="text-center">
                                        <button type="submit" id="search-btn" class="btn btn-primary mt-3">ค้นหารหัสนักศึกษา</button>
                                    </div>
                                </div>
                                
                            </form>
                        </div>

                        <!-- Table displaying the student data -->
                        <table id="student-table" class=" table-striped mt-0 table-responsive">
                            <thead>
                                <tr>
                                    <th>รหัสนักศึกษา</th>
                                    <th>ชื่อจริง</th>
                                    <th>นามสกุล</th>
                                    <th>หลักสูตร/สาขา</th>
                                    <th>กลุ่มเรียน</th>
                                    <th>สถานะ</th>
                                    <th>วัน/เดือน/ปี</th>
                                   
                                </tr>
                            </thead>
                            <tbody id="student-data">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer-->
    

    <script>
        document.getElementById('searchForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const searchTerm = document.getElementById('student-search').value;

            fetch(`/searchByPrefix?prefix=${searchTerm}`)

                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('student-data');
                    tableBody.innerHTML = ''; // Clear previous results

                    if (data.length === 0) {
                        tableBody.innerHTML = '<tr><td colspan="8" class="text-center">No students found</td></tr>';
                    } else {
                        const event = new Date('August 19, 1975 23:15:30 GMT+00:00');

                        console.log(event.toLocaleTimeString('en-US'));
                        data.forEach(record => {
                            tableBody.innerHTML += `
                                <tr>
                                    <td>${record.prefix}</td>
                                    <td>${record.firstname}</td>
                                    <td>${record.lastname}</td>
                                    <td>${record.curriculum}</td>
                                    <td>${record.section}</td>
                                    <td>${record.status === "เข้าเรียน" ? `<i class="bi bi-check text-success"></i> เข้าเรียน` : (record.status === "สาย" ? `<i class="bi bi-clock text-warning"></i> สาย` : `<i class="bi bi-x-circle text-danger"></i> ไม่เข้าเรียน`)}</td>
                                    <td>${record.datecheck ? new Date(record.datecheck).toLocaleDateString('th-TH', { timeZone: 'Asia/Bangkok' }) : 'N/A'}</td>
                                   
                                </tr>
                            `;
                            
                        });
                    }
                })
                .catch(error => {
                    console.error('Error fetching students:', error);
                });
        });
    </script>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/script.js"></script>
</body>

</html>
